{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title2 %}登录{% endblock %}

{% block page_content %}



    <div class="col-md-4">
    <h1>登录</h1>
    <hr>
    {{ wtf.quick_form(form) }}
        <br>
        <br>
        <br>
        <br>
        <span class="">您是新用户？<a href="{{ url_for('auth.register') }}">马上注册</a></span>
    </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
