{% extends "bootstrap/base.html" %}
{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang('zh_CN') }}
{% endblock %}
{% block title %}{% block title2 %}{% endblock %} - 南大博客{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="icon" href="{{ url_for('static', filename='main/html_logo.png') }}" type="image/x-icon"/>
    <style>
    body {
        background: url({{ url_for('static',filename='main/bg_2.jpg') }}) no-repeat, black;
        background-attachment: fixed;
    }
    </style>
{% endblock %}
{% block navbar %}

<div class="navbar navbar-inverse" role="navigation">
 <div class="container">
 <div class="navbar-header">
 <button type="button" class="navbar-toggle"
 data-toggle="collapse" data-target=".navbar-collapse">
 <span class="sr-only">Toggle navigation</span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>
 </button>
 <a class="navbar-brand" href="/">南大博客</a>
 </div>
 <div class="navbar-collapse collapse">
 <ul class="nav navbar-nav">
 <li><a href="/">首页</a></li>
 </ul>
     <ul class="nav navbar-nav navbar-right">
 {% if current_user.is_authenticated %}
 <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ current_user.username }}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('main.user', username=current_user.username) }}">个人资料</a></li>
            <li><a href="#">我的文章</a></li>
            <li><a href="#">我的关注</a></li>
            <li role="separator" class="divider"></li>
              {% if current_user.role_id==1 %}
                  <li><a href='#'>后台管理</a></li>
                  {% endif %}
            <li><a href="{{ url_for('auth.logout', q='change') }}">切换用户</a></li>
              <li><a href="{{ url_for('auth.logout', q='logout') }}">退出登录</a></li>
          </ul>
        </li>

 {% else %}
 <li><a href="{{ url_for('auth.login') }}">登录</a></li>
 {% endif %}
</ul>
 </div>
 </div>
</div>

{% endblock %}
{% block content %}

    <div class="container">
{% for m in get_flashed_messages() %}

       <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ m }}
    </div>
{% endfor %}
 {% block page_content %}{% endblock %}
    </div>

    <div class="footer">
    <p style="color: white; text-align: center;">Powered by Auto 173</p>
    </div>
{% endblock %}

