{% extends 'base.html' %}
{% import '_macros.html' as macro %}
{% block page_content %}
<div class="page-header panel container">
 <h1>{{ user.username }}的个人资料</h1>
<hr>

 <img class="img-circle" src="{{ user.avatar }}" width="128px" height="128px">
<br>
<br>
<br>


 {% if user.name or user.location %}
 <p>
 {% if user.name %}{{ user.name }}{% endif %}

{% if user.location %}
 来自 <a href="http://maps.baidu.com/?q={{ user.location }}" target="_blank">
 {{ user.location }}
 </a>
 {% endif %}
 </p>
 {% endif %}


 {% if current_user.is_authenticated %}
     <p>邮箱地址：<a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
 {% endif %}

 {% if user.about_me %}
     <p>个人说明：{{ user.about_me }}</p>
 {% endif %}


 <p>
     注册时间：{{ moment(user.member_since).format('YYYY年M月D日 H:mm:ss a') }}</p>
<p> 最后一次登录时间：{{ moment(user.last_seen).fromNow() }}
 </p><br>
<p>关注用户：{{ user.followed.count() }}</p>
    <p>被 {{ user.follower.count() }} 个用户关注</p>
    <button class="btn btn-primary"><a style="color: white;" href="{{ url_for('.follow', username=user.username) }}">关注TA</a></button>
{% if user == current_user or current_user.is_admin() %}
<a class="btn btn-default" href="{{ url_for('.EditProfile', id=user.id) }}">
 编辑资料
</a>

{% endif %}
</div>
    <h4>TA的博客</h4>
    {% include '_posts.html' %}


        {{ macro.pagination_widget(pagination, '.user', username=user.username) }}

{% endblock %}
